html { font-size:30px; font-family: 'PT Sans', sans-serif;}
.step {width:2048;}
pre { width:1024; overflow-x:hidden;}
.code { border-left: 4px solid black; padding-left: 1em;}

table {
    color: #333; /* Lighten up font color */
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC;} /* Make cells a bit taller */

th {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}
